:host{
  display:block;
  margin-top:63px;
  display:block;
}
.instruction {
  position:relative;

}

.instruction h4{
  font-weight:700;
  color:#ffffff;
  text-align: left;
  font-size: 250%;
  font-weight: 300;
  margin-left:15px;
  margin-top:0;
}

.instruction .slide-heading-marker{
  top:5px;
}