/* Master Styles */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('/node_modules/font-awesome/css/font-awesome.min.css');

body, html{
  margin:0;
  padding:0;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  min-height: 100%;
  height: 100%;
}
h1 {
  color: white;
  font-weight:300;
  font-size: 250%;
  margin:0;
}
h2, h3 {
  font-weight:300;
}

h3.slide-heading-intro {
  font-size: 320%;
  text-align: left;
  line-height: 90%;
  padding:20px;
  margin:0;
}
.slide-heading-marker {
  width: 4px;
  height: 39px;
  background: #D70005;
  position: absolute;
  top: 26px;
  left: 0px;
}

body, input[text], button {
  font-weight:400;
}
body{

}

.color-bg{
  height:100%;
  width:100%;
  z-index: 0;
  top:0;
  position: fixed;
}
.color-bg.yellow{
  background-image: -moz-radial-gradient(center, ellipse cover,  rgba(255,227,62,.9) 0%, rgba(254,195,29,1) 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(255,227,62,.9) 0%,rgba(254,195,29,1) 100%);
  background-image: radial-gradient(ellipse at bottom,  rgba(255,227,62,.9) 0%,rgba(254,195,29,1) 100%);
}
.color-bg.blue{
  background-image: -moz-linear-gradient(top,  rgba(25,66,88,0.9) 0%, rgba(60,162,217,1) 100%);
  background-image: -webkit-linear-gradient(top,  rgba(25,66,88,0.9) 0%,rgba(60,162,217,1) 100%);
  background-image: linear-gradient(to bottom,  rgba(25,66,88,0.9) 0%,rgba(60,162,217,1) 100%);
}
.color-bg.black{
  background-image: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,1) 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%);
  background-image: radial-gradient(ellipse at bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%);
}
.main-bg{
  background-image:url('/images/livingwater_bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  top:0;
  z-index:-1;
  height:100%;
  width:100%;
  background-attachment: fixed;
}

strong, b{
  font-weight: 400;
}

h4 strong{
  font-weight:700;
  color:#FEC31D;
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
button {

  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

.button.btn-secondary {
  background-color: #FEC31D;
  text-align: left;
  display: block;
  position: absolute;
  bottom: 140px;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.loading{
  font-size: 350%;
  text-transform: uppercase;
  letter-spacing: -.05em;
  line-height: .9em;
  width:360px;
  text-align: center;
  margin:0 auto;
  margin-top:100px;
  color:black;
  font-weight:300;
}

.button, a.button:visited {
  color:#ffffff;
  padding: 10px;
  font-size: 120%;
  background: #3CA2D9;
  border-radius: 5px;
  border-color: #3187B5;
  display: block;
  border-style: solid;
  border-width: 1px;
  margin:0 20px;
}

a.blue {
  color:#3CA2D9;
  text-decoration: none;
}
.mb {
  margin-bottom:10px;
}

section.section-slim{
  position:relative;
  max-width:320px;
  display:block;
  margin:0 auto;
  z-index: 2;
}
section{
  position:relative;
  display:block;
  z-index: 2;
  height: 100%;
}

.water-options{
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.water-option{
  width: 46%;
  text-align: center;
  border: 1px solid #FEC31D;
  border-radius: 10px;
  height: 110px;
  position: relative;
}
.water-options label {
  background: #FEC31D;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* everywhere else */
* { 

}








navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 41px;
  right: 0;
  bottom: 0;
  left: -200px;
  z-index: 2;
  list-style: none;
  background: #173749;
  transition: left .4s;
  font-weight: 100;
}

navigation ul, navigation ul li{
  padding:0;
  margin:0;
}
.nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
  text-align: left;
  border-bottom:1px solid #416d85;
  background: transparent;
  border-radius: 0;
}
.nav-item a.external{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#FEC31D' width='24' height='24' viewBox='0 0 24 24'><path d='M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z'/></svg>");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right 16px;
}
.nav-item a:hover {
  color: white;
}
.content-wrap {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: left .3s;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px;
  top: 10px;
  z-index: 2;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' fill='white' height='24' viewBox='0 0 24 24'><path d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 17h-12v-2h12v2zm0-4h-12v-2h12v2zm0-4h-12v-2h12v2z'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .content-wrap {
  transition: left .3s;
  transition-timing-function: ease-out;

}
.nav-trigger:checked + label {
  left: 165px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' width='24' height='24' viewBox='0 0 24 24'><path d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z'/></svg>");
  transition: left .3s;
  transition-timing-function: ease-out;
}
.nav-trigger:checked ~ .content-wrap {
  left: 200px;
  transition-timing-function: ease-out;
}
.nav-trigger:checked ~ navigation {
  left: 0px;
  z-index: 2;
  transition: left .3s;
  transition-timing-function: ease-out;
}


