<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../styles/main.scss" />
        <link rel="stylesheet" href="../../styles/_finalCalculation.scss" />
        <link rel="stylesheet" href="../../styles/font-awesome-4.6.3/css/font-awesome.min.css">
    </head>
    <body>
        <section id="water-usage">
            <p>
                You use around 210 gal. of water in a day easily.
            </p>
            <p>
                In developing countries your daily usage would supply water to 20 people. The main difference between you and them is the purity of the water and how it is provided. Watch the video to learn the role you can play.
            </p>
        </section>
        <section id="usage-diagram">
            <span><i class="fa fa-child fa-6"></i></span>
            <span>=</span>
            <span>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
                <i class="fa fa-male fa-2"></i>
                <i class="fa fa-female fa-2"></i>
            </span>
        </section>
        <section id="usage-video">
            <iframe
                src="http://player.vimeo.com/video/141910459?portrait=0&byline=0&title=0"
                width="WIDTH"
                height="HEIGHT"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen>
            </iframe>

        </section>
        <section id="donate">
            <p>
                With your donation, together we can allow others to access water with a minimal amount of effort
            </p>
            <button id="donateBtn" class="label btn" type="button">
                Be a part by donating
            </button>
        </section>
    </body>
</html>
