<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donate</title>
    <link rel="stylesheet" href="../../../dist/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/font-awesome-4.6.3/css/font-awesome.min.css">
  </head>
  <body id="form-body">
    <div class="form-header">
        <h1>We are <span class="header-highlighted">Fresh Water</span> what is your name?</h1>
    </div>
    <form class="form-horizontal donation-form" role="form">
      <div class="form-group">
        <div class="col-md-4">
          <input id="inputFirstName" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input id="inputLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="form-button" class="btn btn-success">Nice to meet you, click for next step</button>
        </div>
      </div>
    </form>
    <footer>
      <div class="footer-msg">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <span>Thank you in taking the time to walk through this steps with us</span>
      </div>
      <div class="footer-contact">
      <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Call us anytime 877-594-4426</span>
      </div>  
    </footer>
  </body>
</html>