:host {
  margin-bottom: 15px;
  display: block;
  position: fixed;
  background: rgba(0,0,0,.2);
  width: 100%;
  margin-top: -63px;
  padding: 10px;
  z-index: 50;
}
h1{
  text-transform: uppercase;
  text-align: center;
  font-size:110%;
}

.submenu{
  width: 40px;
  height: 40px;
  position: absolute;
}
.info, .info:visited{
  position: absolute;
  right: 20px;
  top: 5px;;
  color:white;
}