<!doctype html>
<html>
    <head>
        <script src="../../dist/js/bundle.js"></script>
        <link rel="stylesheet" href="../styles/_waterdroplet.scss" />
    </head>
    <body>
        <div id="container">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 400 400">
                <path fill-opacity="0" stroke-width="5" stroke="#bbb" d="M200,40 C200,115 280,180 280,240 A80,80,0 0,1,120,240 C120,180 200,115 200,40"/>
                <path id="water-path" fill-opacity="0" stroke-width="8" stroke="#3CA2D9" d="M200,40 C200,115 280,180 280,240 A80,80,0 0,1,120,240 C120,180 200,115 200,40"/>
            </svg>
        </div>
    </body>
</html>
