html,
body {
  
  margin: 0 auto;  
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body,
.panel {
  background-color: #fff;
}

.menu {
  background-image: linear-gradient(180deg, #1A4359, #3CA2D9);
}

a {
  color: #4B5;
  text-decoration: none;
}

.panel {
  text-align: center;
  padding-top: 0px;
  min-height: 100%;
}

.row-text {
	padding: 10px;
}

.menu-section-list {
	font: 150%/0.50em 'Muli', sans-serif;
	color: #FFF;
  padding: 0;
  
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}