<div class="navigation-secondary">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label>Bath</label>
</div>

<div class="navigation-secondary">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label>Bath</label>
</div>

<div class="navigation-secondary">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label>Bath</label>
</div>