<div class="navigation-secondary first">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label><i class="fa fa-tint" aria-hidden="true"></i>Bath</label>
</div>

<div class="navigation-secondary second">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label><i class="fa fa-tint" aria-hidden="true"></i>Dishwasher</label>
</div>

<div class="navigation-secondary third">
  <div class="circle-graph">
    <div class="count">0</div>
    <div class="measurement">GAL</div>
  </div>
  <label><i class="fa fa-tint" aria-hidden="true"></i>Laundry</label>
</div>