<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

<nav>
  <ul class="navigation">
    <li class="nav-item"><a href="">Thirst Gauge</a></li>
    <li class="nav-item"><a class="external" target="_blank" href="http://water.cc/whywater">Why Water?</a></li>
    <li class="nav-item"><a class="external" target="_blank" href="http://water.cc/whyus">Why Us?</a></li>
    <li class="nav-item"><a class="external" target="_blank" href="http://water.cc/dosomething">Take Action</a></li>
    <li class="nav-item"><a class="external" target="_blank" href="http://water.cc/aboutlivingwater">About Living Water</a></li>
    <li class="nav-item"><a class="external" target="_blank" href="https://store.water.cc/">Store</a></li>
  </ul>
</nav>
